<section id="tp02">
        <h1>TP 02 - Vues et Expressions</h1>
        <select name="affichage" ng-model="show">
            <option selected="selected" value="true">affiché</option>
            <option value="false">caché</option>
            <option value="default">default</option>
        </select>
        <p ng-show="show==='true'">Ce texte est affiché</p>
        <p ng-hide="show!='false'">Ce texte est affiché si ...caché</p> 
        <p ng-if="show==='true'">Créé uniquement si show=true</p>

        <div ng-switch="show">
                <div ng-switch-when="true">Affiché</div>
                <div ng-switch-when="false">Caché</div>
                <div ng-switch-default="default">Par défaut</div>
        </div>
        <br>
        <div>
            <span ng-repeat="item in [0,1,2,3,4,5,6,7,8,9,10]"> Item n°{{item}} <br></span>
        </div>
</section>