<section id="tp05">
    <h1>TP 05 - Communication avec $http</h1>
    <div ng-controller="TripListController as tripListCtrl">
        <div ng-repeat="item in tripListCtrl.data">
            <form name="form">
                <input type="text" name="name" ng-model="item.name">
                <input type="text"name="price" ng-model="item.price">
                <button type="submit" id="save" ng-click="tripListCtrl.save(item)" ng-disabled="form.name.$pristine && form.price.$pristine">Sauvegarder</button>
                <br>
                <br>
                <img ng-src={{item.imageUrl}}>
                <br>
                <br>
            </form>
                
        </div>
    </div>
    </section>